body { 
    font-family: Arial;
}

/*h2{
    text-align: center;
    

}*/

.section-dropdown {
    padding: 50px;
    display:flex;
    align-content: center;
    flex-direction:column;
    align-items: center;
   
}

.section-dropdown div{
    padding: 5px;
    
}

.cliente-obra {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items:center;
    padding: 1px;
    margin-top: 1px;
    text-align:center;
}


.factura {
  
    display: flex;
    flex-direction: row;
    padding: 1px;
}


.grid {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content:center;
    position:relative;
    text-align:center;
 

}

.section-dropdown h3{
    text-align:center
}

.boton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: relative;
    padding: 10px;
   
}
.error{
    color: red;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: relative;
    padding: 10px;
}

.titulo{
    padding: 0 px 1px 0px 1px;
}

.GVFixedHeader {
    font-weight: bold;
    background-color: Green;
    
    top: expression(this.parentNode.parentNode.parentNode.scrollTop-1);
}

.GridViewContainer {
    overflow-y: scroll;
    overflow-x: hidden;
    height:1000px;
    width: 800px;
}

th.locked {
    position: relative;
    left: expression((this.parentElement.parentElement.parentElement.parentElement.scrollLeft-2)+'px');
}   
